# This is an example configuration.
# It must be placed in "$HOME/.slideshowgl.cfg" or "/etc/slideshowgl.cfg"
# All options can be found with "slideshowgl -h -h"

[global]
cfg.load       = debug
mapld.cachedir = /mnt/iso/slideshowgl-cache

[debug]
main.dbg       =
main.dbg       =
main.log       = /home/frank/src/slideshowgl/slideshowgl-2.0.0/log/`date +%Y%m%d_%H%M%S`.log
main.coredump  = /home/src/self/slideshowgl/slideshowgl-2.0.0

[img]
dpl.initzoom   = 2
il.datesort    =
mark.catalog   = /mnt/img/self/flst/kataloge
mark.catalog   = /mnt/img/self/flst/auswahl/top.flst
#files          = /mnt/img/self/flst `ls /mnt/img/self/[01]* -dr`

