Source: slideshowgl
Section: graphics
Priority: optional
Maintainer: Frank Duckhorn <frank@bitboulder.net>
Build-Depends: debhelper, scons, cscope, libgl-dev, libglu-dev, libglew-dev, libsdl2-dev, libsdl2-image-dev, libexif-dev, libftgl-dev, libx11-dev, libjpeg-dev, libxext-dev, libcurl-dev, libz-dev
Standards-Version: 2.3

Package: slideshowgl
Architecture: any
Depends: libgl1, libglu1, libglew1.10, libsdl2-2.0-0, libsdl2-image-2.0-0, libexif12, libftgl2, libx11-6, libxext6, libcurl3, libz1
Suggests: mpv, myjpegtool
Description: myjpegtool

